<div class="container" layout-align="center center">

  <h2>Job: {{current.currentJob.name}}</h2>
  <h4>Rate: ${{current.currentJob.hourly_rate}}</h4>
  <h4>Date Created: {{current.currentJob.date_created}}</h4>
  <h4>Total Hours: {{current.totalJobTime.pretty}}</h4>


    <div class="timer-container" layout="row" layout-align="center">
        <md-card class="timer-card" flex="50">
            <md-card-title>
                <md-card-title-text layout="row" layout-align="center">
                    <span class="timer-numbers">{{current.hours}}:{{current.minutes}}:{{current.seconds}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <md-button flex="25" class="md-raised" ng-click="current.startTimer(current.currentJob[0].id)">clock-in</md-button>
                <md-button flex="25" class="md-raised" ng-click="current.stopTimer(current.currentJob[0].id)">clock-out</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="tracked-time" layout-align="center">
      <ul ng-repeat="time in current.currentJobTimes">
        <li>Job ID: {{time.jobId}}</li>
        <li>ID: {{time.id}}</li>
        <li>Date: {{time.datePretty}}</li>
        <li>Start Time: {{time.startPretty}}</li>
        <li>End Time: {{time.endPretty}}</li>
        <li>Elapsed Time: {{time.elapsedTimePretty}}</li>
      </ul>
    </div>

<!-- <p>{{current.currentJobTimes}}</p> -->


    <md-input-container class="notes" layout-align="center">
      <label>Notes:</label>
      <textarea rows="3">{{current.currentJob[0].notes}}</textarea>
    </md-input-container>

</div>
