<div class="container" layout-gt-sm="row" layout-align="center">

    <md-content flex="30">
        <md-card class="md-primary">
            <md-toolbar class="toolbar md-warn" style="min-height:10px" layout="row" layout-align="space-between center">
                <h2 class="md-toolbar-tools">Job: {{current.currentJob.name}}</h2>

            </md-toolbar>
            <div layout="column" layout-align="start start">
                <md-list flex>
                    <md-list-item class="md-3-line" layout="column">
                        <div layout-padding class="md-list-item-text" layout="column">
                            <!-- <h3>Job: {{current.currentJob.name}}</h3> -->
                            <h3>Date Created: {{current.currentJob.date_createdPretty}}</h3>
                            <h3>Rate: ${{current.currentJob.hourly_rate}}</h3>
                            <h3>Total Time: {{current.totalJobTime.pretty}}</h3>
                        </div>
                    </md-list-item>
                    <md-button class="button invoice-button md-raised" flex="30" ng-click="current.newInvoiceRoute()">+invoice</md-button>
                </md-list>
            </div>
        </md-card>
    </md-content>


    <!-- <div class="timer-container" layout="row" layout-align="center" flex="45"> -->
    <div class="timer-card" flex="45">
        <!-- <md-card> -->
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center">
                <span class="timer-numbers">{{current.hours}}:{{current.minutes}}:{{current.seconds}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
            <md-button flex="25" class="" ng-click="current.startTimer(current.currentJob.id)">clock-in</md-button>
            <md-button flex="25" class="" ng-click="current.stopTimer(current.currentJob.id)">clock-out</md-button>
        </md-card-actions>
        <!-- </md-card> -->
    </div>

    <!-- </div> -->


    <md-content flex="30">
        <md-card class="md-primary">
            <md-toolbar class="toolbar md-warn" layout="row" layout-align="space-between">
                <h2 class="md-toolbar-tools">Clocked Times</h2>
                <!-- <md-button class="button md-raised md-warn md-hue-1" flex="25" ng-click="current.deleteTimes()">Delete</md-button> -->
            </md-toolbar>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="time in current.currentJobTimes.timesArray">
                    <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ time.datePretty }}</h3>
                        <h4>Total: {{ time.elapsedTimePretty }}</h4>
                        <p>{{ time.startPretty }} --> {{ time.endPretty }}</p>
                    </div>
                    <md-button class="button md-secondary md-warn md-hue-2" ng-click="current.deleteTime(time.id, $event)">Delete</md-button>
                    <!-- <md-checkbox ng-model="time.id"></md-checkbox> -->
                    <md-divider ng-if="!$last"></md-divider>

                </md-list-item>
            </md-list>
        </md-card>
    </md-content>


</div>
