<div class="container" layout="row" layout-align="center start">


    <div class="form md-whiteframe-z2" layout="column" flex="70">
      <md-toolbar class="md-warn">
        <h2 class="md-toolbar-tools">
          <span>Edit Invoice</span>
        </h2>
      </md-toolbar>
        <md-content layout="column" class="md-padding">


            <form class="md-padding" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>Invoice #</label>
                        <input type="number" ng-model="editinvoice.invoice.invoice_number"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" ng-model="editinvoice.invoice.description"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <!-- <label>Invoice Date</label> -->
                    <md-datepicker ng-model="editinvoice.invoice.invoice_date" md-placeholder="Invoice Date" flex></md-datepicker>
                    <!-- <label>Due Date</label> -->
                    <md-datepicker ng-model="editinvoice.invoice.due_date" md-placeholder="Due Date" flex> </md-datepicker>
                </div>

                <md-input-container flex>
                    <label>From:</label>
                    <input type="text" ng-model="editinvoice.invoice.full_name"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Phone:</label>
                        <input type="text" ng-model="editinvoice.invoice.phone"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email:</label>
                        <input type="text" ng-model="editinvoice.invoice.email"></input>
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Address:</label>
                    <input type="text" ng-model="editinvoice.invoice.address"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Bill to:</label>
                        <input type="text" ng-model="editinvoice.invoice.bill_to"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Invoice to:</label>
                        <input type="text" ng-model="editinvoice.invoice.invoice_to"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>Hours:</label>
                        <input type="number" ng-model="editinvoice.invoice.hours"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Rate:</label>
                        <input type="text" ng-model="editinvoice.invoice.finalRate"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Balance Due:</label>
                        <input type="text" ng-model="editinvoice.invoice.balance_due">
                        </input>
                    </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Additional Notes:</label>
                    <textarea type="text" rows="3" ng-model="editinvoice.invoice.notes"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label>Terms and Conditions:</label>
                    <textarea type="text" rows="3" ng-model="editinvoice.invoice.terms"></textarea>
                </md-input-container>
            </form>
            <div layout="row" layout-align="end">
                <md-button layout-align="center end" class="md-raised" ng-click="editinvoice.updateInvoice(editinvoice.invoice); editinvoice.invoicesRoute()">Save</md-button>
                <md-button layout-align="center end" class="md-raised" ng-click="editinvoice.saveAndPrintInvoice(editinvoice.invoice)">Print</md-button>
                <md-button layout-align="center end" class="md-raised" ng-click="editinvoice.invoicesRoute()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
