<div class="container" layout="row" layout-align="center start">


    <div class="form md-whiteframe-z2" layout="column" flex="70">
        <md-toolbar class="toolbar md-warn">
            <h2 class="md-toolbar-tools">
          <span>Edit Invoice</span>
        </h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">


            <form class="md-padding" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>Invoice #</label>
                        <input type="text" ng-model="editinvoice.invoice.invoice_number"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" ng-model="editinvoice.invoice.description"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <div layout="row" layout-fill flex="50" layout-align="space-between center">
                        <label class="lightgray">Invoice Date:</label>
                        <p ng-hide="editinvoice.editableField.invoiceDate"> {{editinvoice.invoiceDatePretty}} </p>
                        <md-datepicker ng-show="editinvoice.editableField.invoiceDate" ng-model="editinvoice.invoiceDate" md-placeholder="Invoice Date" flex></md-datepicker>
                        <md-button class="button md-primary md-hue-2" ng-hide="editinvoice.editableField.invoiceDate" ng-click="editinvoice.editField('invoiceDate')">edit</md-button>
                        <md-button class="button md-primary md-hue-2" ng-show="editinvoice.editableField.invoiceDate" ng-click="editinvoice.doneEditing('invoiceDate')">done</md-button>
                    </div>

                    <div layout="row" layout-fill flex="50" layout-align="space-between center">
                        <label class="lightgray">Due Date:</label>
                        <p ng-hide="editinvoice.editableField.dueDate"> {{editinvoice.dueDatePretty}} </p>
                        <md-datepicker ng-show="editinvoice.editableField.dueDate" ng-model="editinvoice.dueDate" md-placeholder="Due Date" flex> </md-datepicker>
                        <md-button class="button md-primary md-hue-2" ng-hide="editinvoice.editableField.dueDate" ng-click="editinvoice.editField('dueDate')">edit</md-button>
                        <md-button class="button md-primary md-hue-2" ng-show="editinvoice.editableField.dueDate" ng-click="editinvoice.doneEditing('dueDate')">done</md-button>
                    </div>
                </div>

                <md-input-container flex>
                    <label>From:</label>
                    <input type="text" ng-model="editinvoice.invoice.from_name"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Phone:</label>
                        <input type="text" ng-model="editinvoice.invoice.phone"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email:</label>
                        <input type="text" ng-model="editinvoice.invoice.email"></input>
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Address:</label>
                    <input type="text" ng-model="editinvoice.invoice.address"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Bill to:</label>
                        <input type="text" ng-model="editinvoice.invoice.bill_to"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Invoice to:</label>
                        <input type="text" ng-model="editinvoice.invoice.invoice_to"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>Hours:</label>
                        <input type="text" ng-model="editinvoice.invoice.hours"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Rate:</label>
                        <input type="text" ng-model="editinvoice.invoice.rate"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Balance Due:</label>
                        <input type="text" ng-model="editinvoice.invoice.balance_due">
                        </input>
                    </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Additional Notes:</label>
                    <textarea type="text" rows="3" ng-model="editinvoice.invoice.notes"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label>Terms and Conditions:</label>
                    <textarea type="text" rows="3" ng-model="editinvoice.invoice.terms"></textarea>
                </md-input-container>
            </form>
            <div layout="row" layout-align="end">
                <md-button layout-align="center end" class="button md-raised" ng-click="editinvoice.updateInvoice(editinvoice.invoice); editinvoice.invoicesRoute()">Save</md-button>
                <md-button layout-align="center end" class="button md-raised" ng-click="editinvoice.saveAndPrintInvoice(editinvoice.invoice); editinvoice.print()">Print</md-button>
                <md-button layout-align="center end" class="button md-raised" ng-click="editinvoice.invoicesRoute()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
