<h1>Invoices</h1>

<ul style="border: solid" ng-repeat="invoice in invoices.allInvoicesList">
  <p>Invoice # {{invoice.invoice_number}}</p>

  <p>Description: {{invoice.description}}</p>

  <p>Invoice Date: {{invoice.invoice_date}}</p>

  <p>Due Date: {{invoice.due_date}}</p>

  <p>From: {{invoice.from_name}}</p>

  <p>Address: {{invoice.address}}</p>

  <p>Phone: {{invoice.phone}}</p>

  <p>Email: {{invoice.email}}</p>

  <p>Bill to: {{invoice.bill_to}}</p>

  <p>Invoice to: {{invoice.invoice_to}}</p>

  <p>Hours: {{invoice.hours}}</p>

  <p>Rate: {{invoice.rate}}</p>

  <p>Balance Due: {{invoice.balance_due}}</p>

  <p>Additional Notes: {{invoice.notes}}</p>

  <p>Terms and Conditions: {{invoice.terms}}</p>

  <!-- <md-button ng-click="invoices.setAsCurrentJob(invoices.id)">Open Job</md-button> -->
  <md-button ng-click="invoices.getAndEditInvoice(invoice.id)">open</md-button>
  <!-- <md-button ng-click="invoices.printInvoice(invoice.id)">print</md-button> -->
</ul>
