<div class="container" layout="row" layout-align="center start">

    <div class="form md-whiteframe-z2" layout="column" flex="70">
        <md-toolbar class="md-warn">
            <h2 class="md-toolbar-tools">
              <span>Invoices</span>
            </h2>
        </md-toolbar>
        <md-content>
            <md-list layout-margin>
                <md-list-item class="md-3-line" ng-repeat="invoice in invoices.allInvoicesList">
                    <div class="md-list-item-text" layout-padding>
                        <h3>{{invoice.description}}</h3>
                        <h4>Date: {{invoice.invoice_date}}</h4>
                        <p>Hours: {{invoice.hours}}</p>
                        <p>Balance Due: ${{invoice.balance_due}}</p>
                    </div>
                    <div>
                        <md-button class="button md-secondary md-primary md-hue-2" ng-click="invoices.getAndEditInvoice(invoice.id)">Open</md-button>
                        <md-button class="button md-secondary md-warn md-hue-2" ng-click="invoices.deleteInvoice(invoice.id, $event); getAllInvoices()">Delete</md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
