<md-toolbar class="md-warn">
    <h2 class="md-toolbar-tools">
    <span>Login</span>
  </h2>
</md-toolbar>
<div flex="50" class="loginModal" layout="column" layout-align="center center">

    <md-input-container>
        <label>Username:</label>
        <input ng-model="index.username" md-autofocus></input>
    </md-input-container>
    <md-input-container>
        <label>Password:</label>
        <input type="password" ng-model="index.password"></input>
    </md-input-container>
    <md-button class="md-raised" ng-click="index.loginSubmit(index.username, index.password)">submit</md-button>
</div>
