<div class="container" layout="row" layout-align="center start">


    <div class="form md-whiteframe-z2" layout="column" flex="70">
      <md-toolbar class="toolbar md-warn">
        <h2 class="md-toolbar-tools">
          <span>Create Invoice</span>
        </h2>
      </md-toolbar>
        <md-content layout="column" class="md-padding">


            <form class="md-padding" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>Invoice #</label>
                        <input type="text" ng-model="newinvoice.invoice.invoiceNumber"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" ng-model="newinvoice.invoice.description"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <!-- <label>Invoice Date</label> -->
                    <md-datepicker ng-model="newinvoice.invoice.invoiceDate" md-placeholder="Invoice Date" flex></md-datepicker>
                    <!-- <label>Due Date</label> -->
                    <md-datepicker ng-model="newinvoice.invoice.dueDate" md-placeholder="Due Date" flex> </md-datepicker>
                </div>

                <md-input-container flex>
                    <label>From:</label>
                    <input type="text" ng-model="newinvoice.invoice.from"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Phone:</label>
                        <input type="text" ng-model="newinvoice.invoice.phone"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email:</label>
                        <input type="text" ng-model="newinvoice.invoice.email"></input>
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Address:</label>
                    <input type="text" ng-model="newinvoice.invoice.address"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex>
                        <label>Bill to:</label>
                        <input type="text" ng-model="newinvoice.invoice.billTo"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Invoice to:</label>
                        <input type="text" ng-model="newinvoice.invoice.invoiceTo"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>Hours:</label>
                        <input type="text" ng-model="newinvoice.invoice.hours"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Rate:</label>
                        <input type="text" ng-model="newinvoice.invoice.rate"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Balance Due:</label>
                        <input type="text" ng-model="newinvoice.invoice.balanceDue">
                        </input>
                    </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Additional Notes:</label>
                    <textarea type="text" rows="3" ng-model="newinvoice.invoice.notes"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label>Terms and Conditions:</label>
                    <textarea type="text" rows="3" ng-model="newinvoice.invoice.terms"></textarea>
                </md-input-container>
            </form>
            <div layout="row" layout-align="end">
                <md-button layout-align="center end" class="button md-raised" ng-click="newinvoice.createNewInvoice(newinvoice.invoice); newinvoice.invoicesRoute()">Save</md-button>
                <md-button layout-align="center end" class="button md-raised" ng-click="newinvoice.saveAndPrintInvoice(newinvoice.invoice)">Print</md-button>
                <md-button layout-align="center end" class="button md-raised" ng-click="newinvoice.currentJobRoute()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
