<h2>Create Invoice<h2>

<div layout="row" layout-align="center">

  <div layout="column" layout-align="center" layout-margin>
    <md-input-container>
        <label>Invoice #</label>
        <input type="text" ng-model="newinvoice.invoiceNumber"></input>
    </md-input-container>
    <md-input-container>
        <label>Description:</label>
        <input type="text" ng-model="newinvoice.currentJob.name"></input>
    </md-input-container>
        <!-- <label>Invoice Date:</label> -->
        <label class="md-subhead">Invoice Date:</label>
        <md-datepicker ng-model="newinvoice.invoiceDate" md-placeholder="Invoice Date:"></md-datepicker>
        <!-- <input type="date" ng-model="newinvoice.invoiceDate"></input> -->
        <!-- <label>Due Date:</label> -->
        <label class="md-subhead">Due Date:</label>
        <md-datepicker ng-model="newinvoice.dueDate" md-placeholder="Due Date:"></md-datepicker>
    <md-input-container>
        <label>From:</label>
        <input type="text" ng-model="newinvoice.currentUser.full_name"></input>
    </md-input-container>
    <md-input-container>
        <label>Address:</label>
        <input type="text" ng-model="newinvoice.currentUser.address"></input>
    </md-input-container>
    <md-input-container>
        <label>Phone:</label>
        <input type="text" ng-model="newinvoice.currentUser.phone"></input>
    </md-input-container>
    <md-input-container>
        <label>Email:</label>
        <input type="text" ng-model="newinvoice.currentUser.email"></input>
    </md-input-container>
    <md-input-container>
        <label>Bill to:</label>
        <input type="text" ng-model="newinvoice.currentJob.bill_organization"></input>
    </md-input-container>
  </div>


  <div layout="column" layout-align="center" layout-margin>
    <md-input-container>
        <label>Invoice to:</label>
        <input type="text" ng-model="newinvoice.currentJob.bill_individual"></input>
    </md-input-container>
    <md-input-container>
        <label>Hours:</label>
        <input type="number" ng-model="newinvoice.totalJobTime.hours"></input>
    </md-input-container>
    <md-input-container>
        <label>Rate:</label>
        <input type="text" ng-model="newinvoice.finalRate"></input>
    </md-input-container>
    <md-input-container>
        <label>Balance Due:</label>
        <input type="text" ng-model="newinvoice.totalJobBalance"></input>
    </md-input-container>
    <md-input-container>
        <label>Additional Notes:</label>
        <textarea type="text" ng-model="newinvoice.currentJob.notes"></textarea>
    </md-input-container>
    <md-input-container>
        <label>Terms and Conditions:</label>
        <textarea type="text" ng-model="newinvoice.terms"></textarea>
    </md-input-container>
  </div>

</div>
<md-button flex-align="center end" class="md-raised" ng-click="newinvoice.registerSubmit(newinvoice.first, newinvoice.last, newinvoice.username, newinvoice.password, newinvoice.email, newinvoice.phone, newinvoice.address, newinvoice.rate)">Submit</md-button>
