
<div class="user-info">
  <h3>From: <span>{{editinvoice.invoice.from}}</span></h3>
  <h3>Phone: <span>{{editinvoice.invoice.phone}}</span></h3>
  <h3>Email: <span>{{editinvoice.invoice.email}}</span></h3>
  <h3>Address: <span>{{editinvoice.invoice.address}}</span></h3>

</div>

<div class="invoice-info">
  <h3>Invoice #: <span>{{editinvoice.invoice.invoice_number}}</span></h3>
  <h3>Date: <span>{{editinvoice.invoice.invoice_date}}</span></h3>
  <h3>Due Date: <span>{{editinvoice.invoice.due_date}}</span></h3>
  <h3>Balance Due: <span>{{editinvoice.invoice.due_date}}</span></h3>

</div>
 

      <label>Description:</label>

      <label>Bill to:</label>

      <label>Hours:</label>

      <label>Rate:</label>

      <label>Balance Due:</label>

      <label>Additional Notes:</label>

      <label>Terms and Conditions:</label>

      <md-button class="button">Save</md-button>
      <md-button class="button">Print</md-button>
