<div class="container" layout="row" layout-align="center start">


    <div class="form md-whiteframe-z2" layout="column" flex="70">
        <md-toolbar class="md-warn">
            <h2 class="md-toolbar-tools">
          <span>Edit User</span>
        </h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">


            <form class="md-padding" layout="column">
                <div layout="row">
                    <md-input-container flex="50">
                        <label>First Name:</label>
                        <input type="text" ng-model="profile.currentUser.first_name"></input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Last Name:</label>
                        <input type="text" ng-model="profile.currentUser.last_name"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="50">
                        <label>Phone:</label>
                        <input type="text" ng-model="profile.currentUser.phone"></input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Email:</label>
                        <input type="text" ng-model="profile.currentUser.email"></input>
                    </md-input-container>
                </div>

                <md-input-container>
                    <label>Address:</label>
                    <input type="text" ng-model="profile.currentUser.address"></input>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex="25">
                        <label>Standard Rate:</label>
                        <input type="text" ng-model="profile.currentUser.hourly_rate"></input>
                    </md-input-container>
                </div>

            </form>
            <div layout="row" layout-align="end">
                <md-button layout-align="center end" class="md-raised" ng-click="profile.updateUser(profile.currentUser.id, profile.currentUser.first_name, profile.currentUser.last_name, profile.currentUser.phone, profile.currentUser.email, profile.currentUser.address, profile.currentUser.hourly_rate); profile.currentJobRoute()">Save</md-button>
                <md-button layout-align="center end" class="md-raised" ng-click="profile.currentJobRoute()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
