<div class="container" layout="row" layout-align="center start">


    <div class="form md-whiteframe-z2" layout="column" flex="70">
        <md-toolbar class="md-warn">
            <h2 class="md-toolbar-tools">
          <span>Registration</span>
        </h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">


            <form class="md-padding" layout="column">
              <div layout="row">
                  <md-input-container flex="50">
                      <label>Username:</label>
                      <input ng-model="index.username" required></input>
                  </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>First Name:</label>
                        <input type="text" ng-model="index.first_name"></input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Last Name:</label>
                        <input type="text" ng-model="index.last_name"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="50">
                        <label>Phone:</label>
                        <input type="text" ng-model="index.phone"></input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Email:</label>
                        <input type="text" ng-model="index.email"></input>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="80">
                        <label>Address:</label>
                        <input type="text" ng-model="index.address"></input>
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Standard Rate:</label>
                        <input type="text" ng-model="index.hourly_rate"></input>
                    </md-input-container>
                </div>


                  <div layout="row">
                    <md-input-container flex="50">
                        <label>Password:</label>
                        <input type="password" ng-model="index.password" required></input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Confirm Password:</label>
                        <input type="password" ng-model="index.confirmPassword" required></input>
                    </md-input-container>
                </div>

            </form>
            <div layout="row" layout-align="end">
                <md-button flex-align="center end" class="md-raised" ng-click="index.registerSubmit(index.first_name, index.last_name, index.username, index.password, index.confirmPassword, index.email, index.phone, index.address, index.hourly_rate, $event)">Submit</md-button>
                <md-button layout-align="center end" class="md-raised" ng-click="index.homeRoute()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
