/*blue color on logos 85c7fe*/
.container {
  margin: 20px;
}
.timer-container {
  margin-top: 25px;
}
.loginModal {
  padding: 20px;
  min-width: 400px;
}
.navbar {
  margin: 0 40px 20px 40px;
}
.navbar span {
  font-size: 1.3em;
}
.new-job-container {
  min-width: 350px;
}
.timer-card {
  height: 200px;
  min-width: 400px;
}
.timer-numbers {
  font-size: 6em;
}
.top-right {
  margin: 10px 25px 0 0;
}
#header-logo {
  width: 330px;
}
